section#login
		.login-content
				h1(translate) Registration
				.login-form
					form.form-horizontal(role='form', ng-submit='register()')
						.form-group
							label.col-sm-2.control-label(for='name', translate) Name
							.col-sm-10
								input#name.form-control(ng-model='user.name', placeholder='{{\'Your display name\' | translate}}', type='text', autocomplete='off')
						.form-group
							label.col-sm-2.control-label(for='email', translate) Email
							.col-sm-10
								input#email.form-control(ng-model='user.email', placeholder='{{\'Email\' | translate}}', type='text', autocomplete='off')
						.form-group
							label.col-sm-2.control-label(for='password', translate) Password
							.col-sm-10
								input#password.form-control(ng-model='user.password', placeholder='{{\'Password\' | translate}}', type='password', autocomplete='off')
						input.btn.btn-primary(type='submit', value='{{\'Register\' | translate}}')
						.form-group.action-group
							a.show-signup(href='/login', translate) Login
							a(href='/forgot-password', translate) Forgot my password
				.social-login
					.social-networks
						a.facebook(ng-show='facebookReady', title='Facebook', href='javascript:void(0);', ng-click='login(\'facebook\')')
							span.lsf &#xE047;
							span(translate) Login with Facebook
						//- google-plus-signin(clientid='{{googleClientID}}', language='ybySettings.language')
