footer#colophon.clearfix
	.container
		.twelve.columns
			nav.institutional
				a(href='http://github.com/oeco/yby', target='_blank', title='YBY', translate) Developed with YBY
			.license
				a(href='https://creativecommons.org/licenses/by-sa/3.0/', target='_blank') Creative Commons CC BY-NC-SA 3.0

script(type='text/javascript', src='/lib/vendor.js')
script(type='text/javascript', src='/app.js')