<div class="regular-page dashboard-page">
	<div class="page-header dashboard-header row">
		<div class="container">
			<div class="six columns">
				<h1 ng-controller="UserCtrl">
					<img src="{{user.gravatar()}}" alt="{{userName}}" />
					<span translate>Dashboard</span>
					<span class="user-name">{{userName}}</span>
					<a href="{{profileUrl(user)}}/" class="profile-link" translate>View profile</a>
				</h1>
			</div>
			<div class="six columns">
				<ul class="profile-actions header-actions">
					<li ng-class="{active: currentState === 'layers'}">
						<a href="/dashboard/layers">
							<span class="lsf">&#xE129;</span>
							<span translate>Layers</span>
						</a>
					</li>
					<li ng-class="{active: currentState === 'maps'}" ng-show="canCreate">
						<a href="/dashboard/maps">
							<span class="lsf">&#xE08b;</span>
							<span translate>Maps</span>
						</a>
					</li>
					<li ng-class="{active: currentState === 'profile'}">
						<a href="/dashboard/profile">
							<span class="lsf">&#xE137;</span>
							<span translate>My profile</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ui-view autoscroll="false" class="row"></div>
</div>