<div class="page-subheader anti-row row">
	<div class="container">
		<div class="twelve columns">
			<h2 translate>Layers</h2>
			<input class="filter" type="text" ng-model="search" placeholder="{{'Type your search' | translate}}" />
			<p translate="userTotalLayers" translate-values="{ totalLayer: totalLayer }"></p>
		</div>
	</div>
</div>
<div class="layers-list" ng-show="layers.length" ng-controller="LayerActionsCtrl">
	<div
		infinite-scroll="$layer.nextPage()"
		infinite-scroll-disabled="$layer.busy"
		infinite-scroll-distance="1"
		infinite-scroll-immediate-check="false"
		class="container">
		<div class="three columns" ng-show="canCreate">
			<div class="default-item new-item row">
				<h3>
					<a href="javascript:void(0);" ng-click="new()">
						<span class="lsf">&#xE108;</span>
						<span translate>Create new layer</span>
					</a>
				</h3>
			</div>
		</div>
		<div class="three columns" ng-repeat="layer in layers | filter:search">
			<div ng-include="templates.list" autoscroll="false"></div>
		</div>
	</div>
</div>
<div class="create-layer" ng-hide="layers.length" ng-show="canCreate">
	<div class="container">
		<div class="twelve columns">
			<div class="info-box new-item" ng-controller="LayerActionsCtrl">
				<p><a href="javascript:void(0);" ng-click="new()" title="{{'New layer' | translate}}" translate>You haven't created layers yet. Click here to create your first.</a></p>
			</div>
		</div>
	</div>
</div>