<div ng-controller="UserCtrl">
	<div class="page-subheader anti-row row">
		<div class="container">
			<div class="twelve columns">
				<h2 translate>Profile</h2>
				<a class="button" href="javascript:void(0);" ng-click="openPwdModal(user)" translate>Change password</a>
				<a class="button" href="javascript:void(0);" ng-click="openEmailModal(user)" translate>Change email</a>
			</div>
		</div>
	</div>
	<div id="profile-editor">
		<div class="container">
			<form ng-submit="save(user)">
				<div class="row">
					<div class="seven columns">
						<div class="profile-edit-form">
							<p class="label" translate>Full name</p>
							<textarea class="no-canvas user-name" ng-model="user.name" disable-enter-key="$event" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
							<p class="label" translate>Biography</p>
							<textarea class="no-canvas user-bio" ng-model="user.bio" placeholder="{{'Tell us something about you' | translate}}" spellcheck="false" autocorrect="off" autocapitalize="off" msd-elastic></textarea>
							<p><a class="button" ng-click="save(user)" translate>Save profile</a></p>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>