<!doctype html>
<html ng-app="yby" ng-controller="PageCtrl" ng-class="{embedded: embedded}">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

	<title ng-bind="page.title()">YBY</title>

	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Open+Sans:400italic,600italic,400,600,700,800,300|Paytone+One" />
	<link rel="stylesheet" href="/css/mapbox.css" />
	<link rel="stylesheet" href="/css/leaflet/leaflet.draw.css" />
	<link rel="stylesheet" href="/css/jquery-ui.css" />
	<link rel="stylesheet" href="/css/base.css" />
	<link rel="stylesheet" href="/css/skeleton.css" />
	<link rel="stylesheet" href="/css/sir-trevor/sir-trevor-icons.css" />
	<link rel="stylesheet" href="/css/sir-trevor/sir-trevor.css" />
	<link rel="stylesheet" href="/css/colorpicker.css" />
	<link rel="stylesheet" href="/css/app.css" />
</head>
<body>
	<header id="mast-header">
		<div class="container">
			<div class="four columns">
				<h1><a class="brand" href="/">{{siteTitle}}</a>
				</h1>
			</div>
			<!-- <div class="three columns">
				<div id="lang" ng-controller="TranslateCtrl">
					<ul>
						<li ng-click="changeLanguage('en-US')">English</li>
						<li ng-click="changeLanguage('pt-BR')">Português</li>
					</ul>
				</div>
			</div> -->
			<div class="eight columns">
				<ul id="mast-nav" ng-controller="LoginCtrl">
					<li><a href="/explore" title="Explorar" translate>Explore</a></li>
					<li ng-show="isAuthenticated"><a href="/dashboard" title="{{'Dashboard' | translate}}">
						<span class="lsf">&#xe055;</span>
						<span translate>Dashboard</span>
					</a></li>
					<li ng-show="isAuthenticated"><a title="Sair" ng-click="logout()">
						<span class="lsf">&#xE088;</span>
						<span translate>Logout</span>
					</a></li>
					<li ng-hide="isAuthenticated"><a href="/login" title="Entrar">
						<span class="lsf">&#xE087;</span>
						<span translate>Login</span>
					</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div id="messages" ng-controller="MessageCtrl">
		<div class="message-content animte-show" ng-repeat="message in messages" ng-show="message.text">
			<a class="close-button" ng-click="close(message)" href="javascript:void(0);" translate>Close</a>
			<p ng-class="message.status">{{message.text}}</p>
		</div>
	</div>
	<div class="ui-view" autoscroll="false">
	</div>
	<div id="loading" loading-status-message>
		<div class="loading-message" translate>Loading</div>
	</div>
	<footer id="colophon" class="clearfix">
		<div class="container">
			<div class="twelve columns">
				<nav class="institutional">
					<a href="http://github.com/oeco/yby" target="_blank" title="YBY" translate>Developed with YBY</a>
				</nav>
				<div class="license">
					<a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">Creative Commons CC BY-NC-SA 3.0</a>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="/lib/vendor.js"></script>
	<script type="text/javascript" src="/dist/app.js"></script>
</body>
</html>