<div class="content list-item">
	<h3><a href="{{getUrl(content)}}">{{content.title}}</a></h3>
	<div class="meta clearfix">
		<div class="clearfix">
			<p class="author">
				<a href="/user/{{content.creator.username}}/">{{content.creator.name}}</a>
			</p>
			<p class="layer" ng-show="map">
				<a href="/layers/{{content.layer._id}}/">{{content.layer.title}}</a>
			</p>
		</div>
	</div>
	<div class="excerpt" dynamic="renderBlock(content.sirTrevorData[0])"></div>
	<p class="readmore"><a href="{{getUrl(content)}}">Leia mais</a></p>
</div>