<div class="regular-page explore-page">
	<div class="page-header row">
		<div class="container">
			<div class="six columns">
				<h1 translate>Explore narratives mapped by the community</h1>
			</div>
		</div>
	</div>
	<section id="maps">
		<div class="page-subheader green anti-row row">
			<div class="container">
				<div class="twelve columns">
					<h2 translate>Latest maps</h2>
					<a class="button" href="/maps/" translate>View all maps</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div ng-controller="MapActionsCtrl" class="content row">
				<div class="three columns" ng-repeat="map in maps">
					<div ng-include="templates.list" autoscroll="false"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="layers">
		<div class="page-subheader green anti-row row">
			<div class="container">
				<div class="twelve columns">
					<h2 translate>Latest layers</h2>
					<a class="button" href="/layers/" translate>View all layers</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div ng-controller="LayerActionsCtrl" class="content row">
				<div class="three columns" ng-repeat="layer in layers">
					<div ng-include="templates.list" autoscroll="false"></div>
				</div>
			</div>
		</div>
	</section>
</div>