<section id="highlight" class="row">
	<div class="container">
		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="{{ 'Publish your data' | translate }}" class="icon" src="/img/icon_publish.png">

				<h2 translate>Publish your data</h2>

				<p class="block-text" translate>Create layers and import geographic data</p>
			</div>
		</div>

		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="{{'Tell your stories' | translate}}" class="icon" src="/img/icon_story.png">

				<h2 translate>Tell your stories</h2>

				<p class="block-text" translate>Publish geolocated reports, photos and videos</p>
			</div>
		</div>

		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="{{ 'Visualize' | translate }}" class="icon" src="/img/icon_view.png">

				<h2 translate>Visualize</h2>

				<p class="block-text" translate>Create maps mixing yours and public layers</p>
			</div>
		</div>
	</div>

	<div class="links" ng-hide="ybySettings.general.onlyInvitedUsers || isAuth">
		<a class="register" href="/signup"><strong translate>Register</strong> <span translate>and start mapping!</span></a>
	</div>
</section>
<div class="container row">
	<div class="six columns" ng-show="maps">
		<section id="latest-maps" class="home-list" ng-controller="MapActionsCtrl">
			<h2 translate>Latest maps</h2>
			<div ng-repeat="map in maps">
				<article class="home-list-item map-item row">
					<h3><a href="/maps/{{map._id}}">{{map.title}}</a></h3>
					<div class="meta clearfix">
						<p class="author" ng-controller="UserCtrl"><a href="{{profileUrl(map.creator)}}">{{map.creator.name}}</a></p>
					</div>
					<p ng-show="map.description" dynamic="map.description"></p>
				</article>
			</div>
		</section>
	</div>
	<div class="six columns" ng-show="contents">
		<section id="latest-stories" class="home-list" ng-controller="ContentCtrl">
			<h2 translate>Latest stories</h2>
			<div ng-repeat="content in contents">
				<article class="home-list-item content-item" ng-include="templates.list" autoscroll="false"></article>
			</div>
		</section>
	</div>
</div>