<section id="highlight" class="row">
	<div class="container">
		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="Publique seus dados" class="icon" src="/img/icon_publish.png">

				<h2>Publique seus dados</h2>

				<p class="block-text">Faça camadas com MapBox e Stamen ou criando pontos no mapa</p>
			</div>
		</div>

		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="Conte suas histórias" class="icon" src="/img/icon_story.png">

				<h2>Conte suas histórias</h2>

				<p class="block-text">Publique relatos, fotos e vídeos geolocalizados</p>
			</div>
		</div>

		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="Visualize" class="icon" src="/img/icon_view.png">

				<h2>Visualize</h2>

				<p class="block-text">Crie seus mapas misturando camadas públicas de dados e histórias</p>
			</div>
		</div>
	</div>

	<div class="links" ng-hide="ybySettings.general.onlyInvitedUsers || isAuth">
		<a class="register" href="/signup"><strong>Cadastre-se</strong> e comece a mapear!</a>
	</div>
</section>
<div class="container row">
	<div class="six columns" ng-show="maps">
		<section id="latest-maps" ng-controller="MapActionsCtrl">
			<h2>Últimos mapas enviados</h2>
			<div ng-repeat="map in maps">
				<div ng-include="templates.list" autoscroll="false"></div>
			</div>
		</section>
	</div>
	<div class="six columns" ng-show="contents">
		<section id="latest-stories" ng-controller="ContentCtrl">
			<h2>Últimas histórias</h2>
			<div ng-repeat="content in contents">
				<div ng-include="templates.list" autoscroll="false"></div>
			</div>
		</section>
	</div>
</div>