<section id="highlight">
	<div class="container">
		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="Publique seus dados" class="icon" src="/img/icon_publish.png">

				<h2>Publique seus dados</h2>

				<p class="block-text">Faça camadas com MapBox e Stamen ou criando pontos no mapa</p>
			</div>
		</div>

		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="Conte suas histórias" class="icon" src="/img/icon_story.png">

				<h2>Conte suas histórias</h2>

				<p class="block-text">Publique relatos, fotos e vídeos geolocalizados</p>
			</div>
		</div>

		<div class="four columns">
			<div class="highlight-block publish">
				<img alt="Visualize" class="icon" src="/img/icon_view.png">

				<h2>Visualize</h2>

				<p class="block-text">Crie seus mapas misturando camadas públicas de dados e histórias</p>
			</div>
		</div>
	</div>

	<div class="links">
		<a class="more" href="/tutorial">Saiba mais sobre a ferramenta</a><a class="register" href="/signup"><strong>Cadastre-se</strong> e comece a mapear!</a>
	</div>
</section>

<section id="featured-projects">
	<div class="project">
		<div class="container">
			<div class="five columns">
				<h2>Destaque</h2>
			</div>
		</div>

		<div class="project-info">
			<h3>Riscos de inundação na costa carioca</h3>

			<p class="author">Gustavo Faleiros</p><a class="button" href="/layers/5318c853f352b70d6fa7e278/" target="_self">Veja o mapa</a>
		</div>
	</div>
</section>

<section class="home-section" id="selected-projects">
	<div class="container">
		<div class="twelve columns">
			<div class="title">
				<h2>Mapas selecionados</h2>
			</div>
		</div>

		<div class="project-list">
			<ul>
				<li class="four columns">
					<article>
						<div class="img" style="background-image:url(http://www.mapascoletivos.com.br/uploads/images/376_1_1371165797.jpg)">
							<a href="/maps/5318c652cb160eaf6d30103a/" title="Rio dos Jogos"></a>
						</div>

						<h3><a href="/maps/5318c652cb160eaf6d30103a/" title="Rio dos Jogos">Rio dos Jogos</a></h3>

						<p>Jornalismo Colaborativo: cuide do Rio!</p>
					</article>
				</li>

				<li class="four columns">
					<article>
						<div class="img" style="background-image:url(http://www.mapascoletivos.com.br/uploads/images/139_1_1328364227.jpg)">
							<a href="/maps/5318c652cb160eaf6d300f60/" title="São Paulo sem frescura"></a>
						</div>

						<h3><a href="/maps/5318c652cb160eaf6d300f60/" title="São Paulo sem frescura">São Paulo sem frescura</a></h3>

						<p>Casas, padarias, botecos, barbearias, lojinhas, qualquer tipo de estabelecimento com um charme de antigamente, que mantiveram suas peculiaridades, sem entrar na onda da "modernização".</p>
					</article>
				</li>

				<li class="four columns">
					<article>
						<div class="img" style="background-image:url(http://www.mapascoletivos.com.br/uploads/images/396_1_1384554991.jpg)">
							<a href="/maps/5318c652cb160eaf6d30104e/" title="Trianon Acessível"></a>
						</div>

						<h3><a href="/maps/5318c652cb160eaf6d30104e/" title="Trianon Acessível">Trianon Acessível</a></h3>

						<p>Observar a situação das calçadas e também em estabelecimentos comerciais no entorno, o excesso de postes nas esquinas, rampas de acesso e vagas para deficientes.</p>
					</article>
				</li>

				<li class="four columns">
					<article>
						<div class="img" style="background-image:url(http://farm3.staticflickr.com/2620/3977617811_ced60d34e9_o.jpg)">
							<a href="/maps/5318c652cb160eaf6d301043/" title="Cantos BA"></a>
						</div>

						<h3><a href="/maps/5318c652cb160eaf6d301043/" title="Cantos BA">Cantos BA</a></h3>
					</article>
				</li>

				<li class="four columns">
					<article>
						<div class="img" style="background-image:url(/img/selected-projects/53235a26cc24363c3b52cbcc.png)">
							<a href="/layers/53235a26cc24363c3b52cbcc/" title="Vídeos Ambientais"></a>
						</div>

						<h3><a href="/layers/53235a26cc24363c3b52cbcc/" title="Vídeos Ambientais">Vídeos Ambientais</a></h3>
					</article>
				</li>

				<li class="four columns">
					<article>
						<div class="img" style="background-image:url(http://www.mapascoletivos.com.br/uploads/images/300_1_1350313222.jpg)">
							<a href="/maps/5318c652cb160eaf6d300ff4/" title="Centros de adoção de animais"></a>
						</div>

						<h3><a href="/maps/5318c652cb160eaf6d300ff4/" title="Centros de adoção de animais">Centros de adoção de animais</a></h3>

						<p>Onde adotar um bichinho de estimação (não se esqueça, não compre, adote, tem muitos cães e gatos esperando um dono que os ame)</p>
					</article>
				</li>
			</ul>
		</div>
	</div>
</section>