<section id="login">
	<div class="login-content">
		<h1>Entrar</h1>
		<div class="login-form">
			<form class="form-horizontal" role="form" ng-submit="login()">
				<div class="form-group">
					<label for="email">Email</label>
					<input id="email" type="email" ng-model="credentials.email" placeholder="Email" />
				</div>
				<div class="form-group">
					<label for="password">Senha</label>
					<input id="password" type="password" placeholder="Senha" ng-model="credentials.password" />
				</div>
				<input type="submit" value="Entrar" />
				<div class="form-group action-group">
					<a class="signup" href="/signup">Cadastre-se</a>
					<a href="/forgot-password">Recuperar senha</a>
				</div>
			</form>
		</div>
		<div class="social-login">
			<div class="social-networks">
				<a ng-show="facebookReady" class="facebook" title="Facebook" href="javascript:void(0);" ng-click="login('facebook')"><span class="lsf">&#xE047;</span> Entrar com o Facebook</a>
				<google-plus-signin clientid="{{googleClientID}}" language="pt-BR"></google-plus-signin>
			</div>
		</div>
	</div>
</section>