.modal.share-modal
	.modal-container
		.modal-content
			a.close-button.lsf(href='javascript:void(0);', ng-click='closePwdModal()', title='Fechar') 
			form.change-pwd-form(ng-submit='changePassword(user, chpwd)')
				h4(translate='') Password change
				p(translate='') Current password
				input(type='password', ng-model='chPwd.userPwd')
				h5(translate='') New password
				input(type='password', ng-model='chPwd.newPwd')
				p(translate='') Repeat new password
				input(type='password', ng-model='chPwd.validatePwd')
				a.button(ng-click='changePassword(user, chPwd)', translate='') Change password
