<div class="page-subheader anti-row row">
	<div class="container">
		<div class="twelve columns">
			<h2 translate>Maps</h2>
			<input ng-show="maps.length" class="filter" type="text" ng-model="search" placeholder="{{'Type your search' | translate}}" />
			<p ng-show="layers.length" translate="profileTotalMaps" translate-values="{userName: user.name, total: totalMap}"></p>
			<p ng-hide="maps.length">{{user.name}} <span translate>haven't created any maps.</span></p>
		</div>
	</div>
</div>
<div class="maps-list" ng-show="maps.length" ng-controller="MapActionsCtrl">
	<div
		infinite-scroll="$map.nextPage()"
		infinite-scroll-disabled="$map.busy"
		infinite-scroll-distance="1"
		infinite-scroll-immediate-check="true"
		class="container">
		<div class="three columns" ng-repeat="map in maps | filter:search">
			<div ng-include="templates.list" autoscroll="false"></div>
		</div>
	</div>
</div>
<div class="create-map" ng-hide="maps.length">
	<div class="container">
		<div class="twelve columns">
			<div class="info-box">
				<p>{{user.name}} <span translate>haven't created any maps.</span></p>
			</div>
		</div>
	</div>
</div>