.default-item.row(ng-controller='LayerActionsCtrl')
	h3
		a(href='/layers/{{layer._id}}') {{layer.title}}
	p.author(ng-show='!user', ng-controller='UserCtrl')
		a(href='{{profileUrl(layer.creator)}}')
			span(translate='') by
			| &nbsp;
			| {{layer.creator.name}}
	p(ng-show='layer.description', dynamic='layer.description')
	.actions
		a(href='javascript:void(0);', ng-click='edit(layer)', title='{{"Edit" | translate}}', ng-show='canEdit(layer)')
			span.lsf 
			span.label(translate='') Edit
		a(href='/layers/{{layer._id}}', title='{{"View" | translate}}')
			span.lsf 
			span.label(translate='') View
		a(href='javascript:void(0);', ng-click='delete(layer)', title='{{"Remove permanently" | translate}}', ng-show='canDelete(layer)')
			span.lsf 
			span.label(translate='') Delete
