.modal.share-modal.share-layer
	.modal-container
		.modal-content
			a.close-button.lsf(href='javascript:void(0);', ng-click='close()', title='{{"Close" | translate}}') 
			h2
				span(translate='') Share
				| {{layer.title}}
			.social
				a.facebook.lsf(href='javascript:void(0);', title='{{"Share on Facebook" | translate}}', ng-click='socialWindow(social.facebook, "facebook")') 
				a.twitter.lsf(href='javascript:void(0);', title='{{"Share on Twitter" | translate}}', ng-click='socialWindow(social.twitter, "twitter")') 
