<div class="default-item row" ng-controller="MapActionsCtrl">
	<h3><a href="/maps/{{map._id}}">{{map.title}}</a></h3>
	<p class="author" ng-show="!user"><a ng-controller="UserCtrl" href="{{profileUrl(map.creator)}}"><span translate>by</span> {{map.creator.name}}</a></p>
	<p ng-show="map.description" dynamic="map.description"></p>
	<div class="actions">
		<a href="/maps/{{map._id}}/edit" title="{{'Edit' | translate}}" ng-show="canEdit(map)">
			<span class="lsf">&#xE09f;</span>
			<span class="label" translate>Edit</span>
		</a>
		<a href="/maps/{{map._id}}" title="{{'View' | translate}}">
			<span class="lsf">&#xE13a;</span>
			<span class="label" translate>View</span>
		</a>
		<a href="javascript:void(0);" ng-click="delete(map)" title="{{'Remove permanently' | translate}}" ng-show="canEdit(map)">
			<span class="lsf">&#xE12c;</span>
			<span class="label" translate>Delete</span>
		</a>
	</div>
</div>